<h1>{{title}}</h1>
<form action="send" method="post">
    <select name="letter">
        <option value="0">Отказать</option>
        <option value="1">Принять</option>
        <option value="2">Заполни бриф</option>
    </select>
    <input type="email" name="email" required />
    <button type="submit">Отправить</button>
</form>